@charset "utf-8";

@font-face {
    font-family:'Pretendard';
    src: url('../css/fonts/Pretendard-ExtraBold.eot');
    src: url('../css/fonts/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Pretendard-ExtraBold.woff') format('woff'),
        url('../css/fonts/Pretendard-ExtraBold.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family:'Pretendard';
    src: url('../css/fonts/Pretendard-Bold.eot');
    src: url('../css/fonts/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Pretendard-Bold.woff') format('woff'),
        url('../css/fonts/Pretendard-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family:'Pretendard';
    src: url('../css/fonts/Pretendard-Medium.eot');
    src: url('../css/fonts/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Pretendard-Medium.woff') format('woff'),
        url('../css/fonts/Pretendard-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family:'Pretendard';
    src: url('../css/fonts/Pretendard-Regular.eot');
    src: url('../css/fonts/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Pretendard-Regular.woff') format('woff'),
        url('../css/fonts/Pretendard-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family:'Pretendard';
    src: url('../css/fonts/Pretendard-Light.eot');
    src: url('../css/fonts/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Pretendard-Light.woff') format('woff'),
        url('../css/fonts/Pretendard-Light.ttf') format('truetype');
    font-weight: 300;
}